[submodule "data/official/trec-rag-2026-data"]
	path = data/official/trec-rag-2026-data
	url = https://github.com/TREC-RAG/trec-rag-data.git
[submodule "evaluation/ragdoll"]
	path = evaluation/ragdoll
	url = https://github.com/castorini/RAGDoll.git
[submodule "evaluation/CEM-ord"]
	path = evaluation/CEM-ord
	url = https://github.com/EvALLTEAM/CEM-Ord.git
